body {
  // background-color: #8A2BE2;
  background-image: url('FH010007.jpg');
  background-size: cover;
  color: white;
  font-family: 'Alfa Slab One', cursive;
  font-size: 6vh;
}
section {
  div.container {
    text-align: center;
    margin-top: 20vh;
    vertical-align: middle;
    h1 {
      font-size: 15vh;
    }
  }
}